<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/page.css">
    <link rel="stylesheet" href="/styles/pets.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lexend&display=swap" rel="stylesheet">
</head>
<body>
<%- include("partials/header.ejs")%>
<div class="container">
    <%- include("partials/sidemenu.ejs") %>
    <div class="content">
        <div class="filteredPets">
            <h1>Filtered pets</h1>
            <p class="intro">Here are the pets that match your search criteria. Click on a pet to view more details and
                contact the owner.</p>
            <ul>
                <% if (pets.length > 0) { %>
                    <% pets.forEach(function(pet) { 
                        const details = pet.split(':');
                    %>
                        <li>
                            <h3>Species:</h3> <%= details[0] %><br>
                            <h3>Breed:</h3> <%= details[1] %><br>
                            <h3>Age:</h3> <%= details[2] %><br>
                            <h3>Gender:</h3> <%= details[3] %><br>
                            <h3>Social:</h3> <%= details[4] %><br>
                            <h3>Description:</h3> <%= details[5] %><br>
                        </li>
                    <% }); %>
                <% } else { %>
                    <p>No pets found matching your criteria.</p>
                <% } %>
            </ul>
        </div>
    </div>
</div>
<%- include("partials/footer.ejs")%>
<script src="../scripts/page.js"></script>
</body>
</html>