<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/page.css">
    <link rel="stylesheet" href="/styles/forms.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lexend&display=swap" rel="stylesheet">
</head>
<body>
<%- include("partials/header.ejs")%>
<div class="container">
    <%- include("partials/sidemenu.ejs") %>
    <div class="content">
        <div class="giveaway">
            <h1>Welcome to pets giveaway, <%=message %>!</h1>
            <p class="intro">If you have a pet that needs a new home, you've come to the right place. Share details
                about your cat or dog, including their breed, age, gender, and temperament. Your furry friend could find
                a loving family through PetAdopt. Fill out the form to get started.
            </p>
            <form name="givePets" action="/registerPet" method="post" onsubmit="validateForm('givePets',event)">
                <label for="species">Species:
                    <select name="species" id="species">
                        <option value="dog">Dog</option>
                        <option value="cat">Cat</option>
                    </select>
                </label>
                <label for="breed">Pet breed:</label>
                <input type="text" id="breed" name="breed" onchange="disable('mixedBreed')">
                <input type="radio" id="mixedBreed" name="breed" value="mixed breed" onchange="disable('breed')">
                <label for="mixedBreed">Mixed breed:</label>
                <label for="age">Pet age:
                    <select id="age" name="ageCategory">
                        <option> Less than 1 year</option>
                        <option> 1 - 3 years</option>
                        <option> 3 - 7 years</option>
                        <option> 7 - 10 years</option>
                        <option> More than 10 years</option>
                    </select>
                </label>
                <label for="gender">Pet gender:
                    <select name="gender" id="gender">
                        <option>Male</option>
                        <option>Female</option>
                    </select>
                </label>
                <p>Is your pet social?
                    <label for="social"><input type="radio" id="social" value="yes" name="social">Yes</label>
                    <label for="notSocial"><input type="radio" id="notSocial" value="no" name="social">No</label>
                </p>
                <label for="more">Tell us more <input type="text" id="more" name="more">
                </label>
                <fieldset>
                    <legend>Current owner information</legend>
                    <label for="name">Name: <input type="text" id="name" name="name"></label>
                    <label for="email">Email: <input type="email" id="email" name="email"></label>
                </fieldset>
                <div class="buttons">
                    <button type="submit">Submit</button>
                    <button type="reset">Reset</button>
                </div>
            </form>
            <% if (typeof message !== "undefined") { %>
                <p><%= message %></p>
            <% } %>
        </div>
    </div>
</div>
<%- include("partials/footer.ejs")%>
<script src="/scripts/script.js"></script>
</body>
</html>